<?xml version="1.0"?>
<model>
  <name>waste_can</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Bootcamp ROS 2</name>
  </author>
  <description>
    Dechet simple "canette" (cylindre gris metal, Ø3 cm x 6 cm). Classe metal :
    a deposer en zone_a (rouge) dans le scenario de tri propose. Primitive legere.
  </description>
</model>
