<?xml version="1.0"?>
<model>
  <name>waste_bottle</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Bootcamp ROS 2</name>
  </author>
  <description>
    Dechet simple "bouteille plastique" (corps cylindrique bleu translucide + col fin,
    Ø2.5 cm x ~7 cm). Classe plastic : a deposer en zone_b (vert). Primitive legere.
  </description>
</model>
