<?xml version="1.0"?>
<model>
  <name>waste_carton</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Bootcamp ROS 2</name>
  </author>
  <description>
    Dechet simple "carton" (boite brune 4x4x5 cm). Classe paper : a deposer en
    zone_c (bleu) dans le scenario de tri propose. Primitive legere.
  </description>
</model>
